<html>

<!--use bootstrap here --> 
<head>
<script>
    document.addEventListener("DOMContentLoaded", main);
    function main() {
        var f = document.getElementById('add');
        f.addEventListener('click', function (evt) {
            if (document.getElementsByName('tabName')[0].value == "") {
                evt.preventDefault();
                var err = document.createTextNode("Please enter a Tab name");
                var span = document.createElement("span");
                span.style.color = "red";
                span.appendChild(err);
                document.getElementById('addF').appendChild(span);
            }

        });
    }
</script>



</head>

<body>

<p style="color:red">{{err}}</p></br>

<div id = "addF">
<form id = 'addForm' method="POST" action="">
    Tab: <input type="text" name="tabName">
    <input type="submit" id= 'add' name = 'add' value="Add ">
</form>
</div>
</br></br></br>


<h2>Table of Contents</h2>

<form method="POST" action="">
{{#each tabs}}
    </div class='tab'>
    <input type="checkbox" name="check" value={{_id}}>
    <a href="/tabs/{{slug}}"> <b>{{name}}</b></a>
    {{#each pages}}
        <p>{{name}}&nbsp;
            <!--&nbsp;<img src = "/img/heart.png">
            <text>x</text> <text id="numLikes">0</text></br>
             <text> x {{numsLiked}}</text></br> -->
        </p>

    {{/each}}
    </br>
    </div>
{{/each}}

    </br>
    <input type="submit" name= 'del' value="Delete">
</form>





</body>
</html>
