<html>


<p style="color:red">{{err}}</p></br>


<script src="/stylesheet/updater.js"></script>


<form method="POST" action="">

    <p><a href="/tabs/{{tabs.slug}}"> <b style="font-size: 30px;">{{tabs.name}}</b></a>
        &nbsp;Date: {{tabs.createdAt}}</p>
    {{#each tabs.pages}}
        </br><input type="checkbox" name="check" value={{_id}}>
        <b>{{name}} &nbsp;&nbsp;&nbsp;&nbsp;</b>
        <img id = "likes" src = "/img/heart.png">
        <text>x</text> <b id="numLikes">0</b></br>
        <!-- <text> x {{numsLiked}}</text></br> -->

        <text>{{description}}</text></br>
        <!-- <img src=> -->
        </br></br>
    {{/each}}

    </br></br>
    <input type="submit" name= 'del' value="Delete">
</form>

</br>
<form method="POST" action="">
    Page Name: <input type="text" name="name">  Page Description: <textarea name="description"></textarea>
    <input type="submit" value="Add New Page">
</form>

<a href="/tabs">Back to Table of Contents</a>

</html>