<html>

<!--use bootstrap here --> 

<body>

<p style="color:red">{{err}}</p></br>


<form method="POST" action="">
    Tab: <input type="text" name="tabName">
    <input type="submit" name = 'add' value="Add ">
</form>
</br></br></br>

<h2>Table of Contents</h2>

<form method="POST" action="">
{{#each tabs}}
    </div class='tab'>
    <input type="checkbox" name="check" value={{_id}}>
    <a href="/tabs/{{slug}}"> <b>{{name}}</b></a>
    {{#each pages}}
        <p>{{name}}&nbsp;
            <!--&nbsp;<img src = "/img/heart.png">
            <text>x</text> <text id="numLikes">0</text></br>
             <text> x {{numsLiked}}</text></br> -->
        </p>

    {{/each}}
    </br>
    </div>
{{/each}}

    </br>
    <input type="submit" name= 'del' value="Delete">
</form>





</body>
</html>
